# =============================================================
#  NEXUS EMS — WEB/FRONTEND ENV EXAMPLE (DUMMY DATA)
#  Salin file ini ke .env dan sesuaikan nilainya
# =============================================================

# URL API Backend (URL dari Render/Railway di Production)
NEXT_PUBLIC_API_URL="http://localhost:8081"
