# =============================================================
#  NEXUS EMS — BACKEND ENV EXAMPLE (DUMMY DATA)
#  Salin file ini ke .env dan sesuaikan nilainya
# =============================================================

DATABASE_URL="postgresql://user:password@host:port/dbname?sslmode=require"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="your-super-secret-production-key"
PORT=8081
NODE_ENV=production
KAFKA_BROKERS="localhost:9092"
